
<!-- Notification toast -->
<textarea class="js_template" data-name="notification" style="display: none">

	<div class="toast row {{ level }} gradient js_notification" data-context="{{ context }}">
		<span class="h6 columns small-11">{{#if escape}}{{{ message }}}{{else}}{{message}}{{/if}}</span>
		<span class="close columns small-1 text-right js_notification_close"><img src="media/pricing/close-light.svg"></span>
	</div>

</textarea>



<!-- Unit Sorting Criteria -->
<textarea class="js_template" data-name="unitSortingCriteria" style="display: none">

	{{#each criteria }}
		<option value="{{ @index }}" data-attr="{{ Attribute }}" data-dir="{{ Direction }}" {{#if Default}}selected="true"{{/if}} {{#if Disabled}}disabled{{/if}}>{{ Name }}</option>
	{{/each}}

</textarea>



<!-- Unit Filtration section -->
<textarea class="js_template" data-name="unitFiltration" style="display: none">

	<div class="type-head fill-yellow gradient">
		<div class="type-tabs">
			{{#each taxonomies }}
				<div class="tab-button h4 bold inline-middle js_tab_button {{ selected }}">{{ name }}</div>
			{{/each}}
		</div>
	</div>
	<div class="type-content">
		{{#each taxonomies }}
			<div class="tab-group js_tab_group {{ selected }}">
				{{#each types }}
					<div class="type-card inline-middle text-center js_unit_filter" data-taxonomy="{{ ../name }}" data-type="{{ Name }}">
						<div class="title h5 bold">{{ Name }}</div>
						<div class="description label">{{ Description }}</div>
						<div class="icon" style="background-image: url( 'account/media/{{ Image }}' );"></div>
					</div>
				{{/each}}
			</div>
		{{/each}}
	</div>

</textarea>



<!-- Unit Filtration Tag i.e. bubble -->
<textarea class="js_template" data-name="unitFiltrationTags" style="display: none">

	<button class="button js_unit_filter js_remove" data-taxonomy="{{ taxonomy }}" data-type="{{ type }}"><span>{{ type }}</span></button>

</textarea>



<!-- Unit Listing section -->
<textarea class="js_template" data-name="unitListing" style="display: none">

	{{#each units}}

		<a class="unit-item clearfix js_unit_list_item js_user_required {{#if Highlight }}highlight{{/if}}" data-unit="{{ Unit }}" data-views="1" href="{{ ../rootPath }}/{{ Unit }}" target="_blank">
			<span class="title h2 bold">{{ Unit }}</span>
			<span class="price">
				<span class="price-label small">Basic Price</span>
				<span class="price-amount h6 bold">{{ this.[Basic Price Amount Label] }}</span>
				<span class="price-unit small bold">{{ this.[Basic Price Unit Label] }}</span>
			</span>
			<span class="meta">
				<span class="floor label bold">{{ this.[Floor Label] }}</span>
				<span class="area label bold">{{ Area }} SFT</span>
				<span class="type label bold fill-blue gradient">{{ Class }}</span>
			</span>
			<span class="action label bold">Get Full Price</span>
		</a>

	{{/each}}

</textarea>



<!-- Unit Details section -->
<textarea class="js_template" data-name="unitDetails" style="display: none">

	{{#each points}}

		{{#if (is Content "Sectioner")}}

			{{!-- Section Demarcators: If it is not the first line, then we have to close the preceeding section --}}
			{{#unless @first}}
				</div>
			{{/unless}}

			<div class="
					detail-section
					{{#if (is Layout "Tabular")}}
						table
					{{/if}}
					fill-{{ this.[Section Color] }}
					{{this.[Section Gradient]}}
					{{this.[Page Break] }}
					{{this.[Prevent Page Break] }}
			">

		{{else if Modifiable}}

			{{!-- If it is an interactive modification --}}
			{{> (getTemplateName "modificationPoint__Type" this.modification.type) currentValue=Value }}

		{{else if (is Content "Image")}}

			{{!-- Zoom the image on hover --}}
			<style type="text/css">
				.zoom-on-hover-{{@index}}:hover {
					transform: scale( {{this.[Scale Factor] }} );
				}
			</style>

			<div class="
					{{#unless (is Layout "Full-width")}}
						image-row
					{{/unless}}
					no-overflow
			">
				<div class="image block zoom-on-hover-{{@index}}" style="background-image: url( 'account/media/{{ Background }}' );">
					{{#if Foreground }}
						<img class="block" src="account/media/{{ Foreground }}">
					{{/if}}
				</div>
			</div>

		{{else if (is Content "Space")}}

			<div class="detail-row row clearfix {{this.[Font Size] }}">
				<div>&nbsp;</div>
			</div>

		{{else if (is Content "Grand Total")}}
			{{!-- This one is an exception. It is a self-contained section. --}}
			</div>{{!-- The current section is closed, and a new one is opened. --}}
			<div class="
				detail-section total
				fill-{{ this.[Section Color] }}
				{{this.[Section Gradient]}}
				{{this.[Prevent Page Break] }}
				js_grand_total_line_item
			">{{!-- NOTE: add class "fixed" to make it stick --}}
				<div class="detail-row clearfix">
					<div class="title float-left">
						<span class="unit-number regular fill-yellow hide-for-mobile">{{ Unit }}</span>
						<span class="{{this.[Font Size] }} {{this.[Font Weight] }}text-{{ Color }} {{this.[Preserve Whitespace] }}">{{ Name }}</span>
					</div>
					<div class="value float-right {{this.[Font Size] }} {{this.[Font Weight] }} text-{{ Color }}">{{ Prefix }}{{#if (is Format "number")}}{{ INF Value }}{{else}}{{ Value }}{{/if}} {{ Suffix }}</div>
				</div>
			</div>{{!-- Close the section; this being the final one --}}

		{{else}}

			<div class="
					{{#unless (is Layout "Full-width")}}
						detail-row row clearfix
					{{/unless}}
					text-{{ Color }}
			">
				{{#if (is Layout "Tabular")}}
					<div class="title columns small-8 {{this.[Font Size] }} {{this.[Font Weight] }} {{this.[Preserve Whitespace] }}">{{ Name }}</div>
					<div class="value columns small-4 text-right {{this.[Font Size] }} {{this.[Font Weight] }} {{#if Strikethrough}}strike{{/if}}">{{ Prefix }}{{#if (is Format "number")}}{{ INF Value }}{{else}}{{ Value }}{{/if}} {{ Suffix }}</div>
				{{else if (is Layout "Floating")}}
					<div class="title float-left {{this.[Font Size] }} {{this.[Font Weight] }} {{this.[Preserve Whitespace] }}">{{ Name }}</div>
					<div class="value float-right {{this.[Font Size] }} {{this.[Font Weight] }} {{#if Strikethrough}}strike{{/if}}">{{ Prefix }}{{#if (is Format "number")}}{{ INF Value }}{{else}}{{ Value }}{{/if}} {{ Suffix }}</div>
				{{else}}
					<div class="text-{{ Align }} {{this.[Font Size] }} {{this.[Font Weight] }} {{this.[Preserve Whitespace] }}">{{Name}} {{ Prefix }}{{#if (is Format "number")}}{{ INF Value }}{{else}}{{ Value }}{{/if}} {{ Suffix }}</div>
				{{/if}}
			</div>

		{{/if}}

		{{!-- If the line has a horizontal rule --}}
		{{#if this.[Horizontal Rule]}}
			<div class="detail-row row clearfix">
				<hr class="{{this.[Horizontal Rule]}}">
			</div>
		{{/if}}

	{{/each}}

</textarea>

<!-- Unit Details section component -->
	<!-- A modification line with multiple pre-canned options -->
<textarea class="js_template" data-name="modificationPoint__TypeMultiple" style="display: none">

	<div class="detail-row modification clearfix {{ this.[Font Size] }} {{ this.[Font Weight] }} text-{{ Color }}">
		<div class="title float-left">{{ modification.label }}</div>
		<div class="value float-right">
			<select class="js_unit_modification__multiple" name="{{ modification.name }}">
				{{#each modification.options}}
					<option value="{{ value }}" {{#if (is value ../currentValue) }} selected="true" {{/if}}>{{ label }}</option>
				{{/each}}
			</select>
		</div>
	</div>

</textarea>

	<!-- A modification line with a binary choice -->
<textarea class="js_template" data-name="modificationPoint__TypeBinary" style="display: none">

	<div class="detail-row clearfix modification {{ this.[Font Size] }} {{ this.[Font Weight] }} text-{{ Color }}">
		<div class="title float-left">{{ modification.label }}</div>
		<div class="value float-right">
			<input class="js_unit_modification__binary" type="checkbox" name="{{ modification.name }}" value="{{ modification.value }}" {{#if (is modification.value currentValue) }} checked="true" {{/if}}>
		</div>
	</div>

</textarea>

	<!-- A modification line with a manual input -->
<textarea class="js_template" data-name="modificationPoint__TypeManual" style="display: none">

	<div class="detail-row clearfix modification {{ this.[Font Size] }} {{ this.[Font Weight] }} {{this.[Preserve Whitespace] }} text-{{ Color }}">
		<div class="title float-left">
			<span>{{ modification.label }}</span>
		</div>
		<div class="value float-right">
			<input class="js_unit_modification__manual" type="text" name="{{ modification.name }}" value="{{ currentValue }}" data-value="{{ currentValue }}">
		</div>
	</div>

</textarea>
